.like {
    grid-area: like;
    width: 22px;
    height: 19px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 0;
    border: 0;
    background-image: url(../../images/like.svg);
    background-size: cover;
    background-color: transparent;
    transition: opacity 0.3s ease-in;
}

.like:hover {
    opacity: 0.5;
    cursor: pointer;
}